* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif ;
}

.video-page {
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    width: 100vw;

}

.logo-component {
    display: flex;
    height: 4rem;
    align-items: center;
    padding: 0rem 1rem;

}

.logo-header {
    max-width: 10rem;
    max-height: 85%;
}

.search-bar-component {
    display: flex;
    align-items: center;
    height: 4rem;
    transition: transform .2s;
    padding: 0rem 1rem;

}

.search-bar-component:hover {
    transform: scale(1.1);
}

.search-bar {
    margin: 0px 1rem;
    max-height: 2rem;
    max-width: 30vw;
    opacity: 60%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
    background-color: burlywood;

    cursor: text;

}

#magnifier {
    cursor: pointer;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 1.5rem;
    min-height: 100vh;
}

.video-component {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0.5rem 2rem 0.5rem;
    transition: transform .2s;
    transition-delay: .1s;

    text-decoration: none;
    color: black;

}

.video-component:hover {
    transform: scale(1.1);
}

.video-thumbnail {
    object-fit: contain;
    max-width: 100%;
}

.video-title {
    padding: 1rem 0rem 0rem 0rem;
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: burlywood;
}

.video-player-component {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
    height: 75vh;
}

.video-player {
    width: 60vw;

}

@media screen and (max-device-width: 529px) {
    .video-grid {
        display: flex;
        flex-direction: column;
    }

    #logo-tipography {
        display: none;
    }

    .logo-header {
        max-height: 3rem;
        max-width: 20vw;
    }

    .search-bar {
        max-width: 30vw;
    }

    .video-player-component {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .video-player {
        padding-top: 2rem;
        width: 90%;
    }

}

@media screen and (min-device-width: 530px) and (max-device-width: 800px) {
    .video-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 1.5rem;
    }

    .video-player-component {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .video-player {
        padding-top: 2rem;
        width: 90%;
    }
}